nav {
	border-bottom: 1px solid lightgrey;
	overflow: auto;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 999;
	background-color: white;
	top: 0;
}

.nav-left {
	float: left;
	margin-left: -20px;
}

.nav-left ul li {
	list-style: none;
	display: inline;
}

.nav-left button {
	border: none;
	background-color: white;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-weight: 700;
}

#icon1 {
	background-image: url(../images/favicon.ico);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 28px;
}

#icon2 {
	background-image: url(../images/index.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 28px;
}

#icon3 {
	background-image: url(../images/magnify.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	padding-left: 28px;
}

.box-shadow {
	box-shadow: rgba(0,0,0,0.6) 0px 3px 2px;
}

#logo {
	height: 26px;
	width: 185px;
}

#banner {
	text-align: center;
	margin-top: 5px;
}

.nav-right {
	float: right;
	margin-top: -10px;
}

.nav-right ul li {
	display: inline;
	list-style: none;
}

.nav-right button {
	border: none;
	background-color: white;
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	font-weight: 700;
}

#settings {
	height: 25px;
	width: 25px;
	margin: auto;
}

#login {
	background-color: #6288a5;
	border-color: #4d7b9f;
	color: white;
	height: 30px;
	font-weight: 700;
}

header {
	position: relative;
	top: 150px;
	width: 100%;
	text-align: center;
}

#ad {
	display: block;
}

#separator {
	border-top: 1px solid black;
	margin: auto;
	margin-top: 17px;
}

#separator a {
	float: left;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-weight: 700;
	font-size: 0.8125rem;
	text-decoration: none;
	color: black;
}

article {
	position: relative;
	top: 150px;
}

#title h1 {
	font-family: "times new roman",times,serif;
	font-size: 34px;
	text-align: center;
	border-bottom: 1px solid lightgrey;
	display: block;
	clear: both;
}

#author {
	float: left;
	clear: left;
}

#media {
	display: block;
	position: relative;
	margin: 0 10px;
}

header, article, footer {
	width: 70%;
	margin: auto;
}

#author {
	display: inline;
}

#author span a {
	text-decoration: none;
	color: black;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
	font-size: 0.6875rem;
}

#date {
	font-size: 0.6875rem;
}

.media {
	float: right;
}

.media ul li {
	list-style: none;
	display: inline;
}

#facebook {
	background-image: url(../images/facebook.jpg);
	background-size: 25px;
	background-repeat: no-repeat;
}

#twitter {
	background-image: url(../images/twitter.png);
	background-size: 25px;
	background-repeat: no-repeat;
}

#description {
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	color: grey;
	font-size: 14px;
}

#something span {
	position: absolute;
	width: 180px;
	margin: 0;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #000000;
}

#something img {
	display: block;
}

.top {
	top: 33.5%;
}

.bottom {
	top: 38%
}

.left {
	left: 0%;
}

.middle1 {
	left: 26%;
}

.middle2 {
	left: 52%;
}

.right {
	left: 78%;
}

.small-separator {
	border-bottom: 1px solid black;
	width: 75px;
}

.close {
	font-size: 0.6875rem;
	line-height: 0.9375rem;
	font-weight: 300;
	font-style: normal;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	color: #999;
}

#carousel {
	position: relative;
	height: 100px;
	top: 60px;
	width: 100%;
}

#carousel ol li {
	display: inline;
}

.carousel-align {
	display: inline-block;
	border-right: 1px solid lightgrey;
	width: 25%;
	height: 100%;
}

#carousel ol {
	overflow: auto;
}

.carousel-align p {
	/*display: inline;*/
	font-size: 12px;
	width: 60%;
	height: 100%;
	float: right;
}

.carousel-align img {
	/*display: inline;*/
}